@model SwimmingSchool_MVC.Models.GroupType

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>GroupType</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
<!-- Модальне вікно -->
<div class="modal fade" id="cannotDeleteModal" tabindex="-1" role="dialog" aria-labelledby="cannotDeleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="cannotDeleteModalLabel">Помилка</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Неможливо видалити тип групи, оскільки існують групи з таким типом.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрити</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            if ('@ViewBag.ShowCannotDeleteModal' === 'True') {
                $('#cannotDeleteModal').modal('show');
            }

            $('#cannotDeleteModal .btn-secondary, #cannotDeleteModal .close').on('click', function () {
                $('#cannotDeleteModal').modal('hide');
            });
        });
    </script>

}